#wrapper{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100vh;
 
}

.btn-group{
  font-size: xx-large;
  font-weight: bolder;

}



.result{
  text-align: center;
  font-size: xx-large;
}